<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuestionYourFriendsPocoEntities" connectionString="metadata=res://*/QyfPocoModel.csdl|res://*/QyfPocoModel.ssdl|res://*/QyfPocoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=QuestionYourFriends;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="QuestionYourFriendsEntities" connectionString="metadata=res://*/QyfModel.csdl|res://*/QyfModel.ssdl|res://*/QyfModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=QuestionYourFriends;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>