USE [master]
GO

/****** Object:  Database [QuestionYourFriends]    Script Date: 05/02/2011 17:17:16 ******/
CREATE DATABASE [QuestionYourFriends] ON  PRIMARY 
( NAME = N'QuestionYourFriends', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.VIC\MSSQL\DATA\QuestionYourFriends.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuestionYourFriends_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.VIC\MSSQL\DATA\QuestionYourFriends_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuestionYourFriends].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO




USE [QuestionYourFriends]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05/02/2011 17:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fid] [bigint] NULL,
	[credit_amount] [int] NULL,
	[activated] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transac]    Script Date: 05/02/2011 17:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transac](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fid] [bigint] NULL,
	[amount] [int] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Transac] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 05/02/2011 17:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_owner] [int] NULL,
	[id_receiver] [int] NULL,
	[text] [nvarchar](255) NULL,
	[answer] [text] NULL,
	[anom_price] [int] NULL,
	[private_price] [int] NULL,
	[undesirable] [bit] NULL,
	[date_pub] [datetime] NULL,
	[date_answer] [datetime] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Question_Owner]    Script Date: 05/02/2011 17:16:46 ******/
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Owner] FOREIGN KEY([id_owner])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Owner]
GO
/****** Object:  ForeignKey [FK_Question_Receiver]    Script Date: 05/02/2011 17:16:46 ******/
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Receiver] FOREIGN KEY([id_receiver])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Receiver]
GO
